%footer.single-footer
  %nav
    %ul
      %li
        %a(href="#") プライバシーポリシー
      %li
        %a(href="#") メルカリ利用規約
      %li
        %a(href="#") 特定商取引に関する表記
  %a(href="#" class="single-footer-logo")
    = image_tag "logo-gray.svg", width: 80, height: 65
  %p
    %small © 2019 Mercari