%header.header
  %h1
    = link_to root_path do
      - if session[:tosaben] == "true"
        = image_tag 'tosaben-logo.png', class: 'logo tosaben-logo'
      - else
        = image_tag 'logo.svg', class: 'logo'
