/* === ボタンを表示するエリア ============================== */
.sample3Area {
  margin: auto;
  bottom: 33px;
  right: 242px;
  position: fixed;
  text-align: center;
  font-size: 15px;
  color: #555;
  line-height: 25px;
  z-index: 10;
}

/* === チェックボックス ==================================== */
.sample3Area input[type="checkbox"] {
  display: none;
}

/* === チェックボックスのラベル（標準） ==================== */
.sample3Area label {
  display: block;
  box-sizing: border-box;
  text-align: center;
  border-radius: 3px;
  height: 85px;
  width: 85px;
  font-size: 18px;
  line-height: 85px;
  font-weight: bold;
  background: #eee;
  box-shadow: 1px 1px 3px #999;
  transition: .3s;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  cursor: pointer;
}

/* === ON側のチェックボックスのラベル（ONのとき） ========== */
.sample3Area label span:after {
  content: "標準語";
  color: #aaa;
}

.sample3Area #sample3check:checked + label {
  background: #78bd78;
  box-shadow: none;
  border: none;
}

.sample3Area #sample3check:checked + label span:after {
  content: "土佐弁";
  color: #fff;
}
