#tosaben-btn.sample3Area
  - if session[:tosaben] == "true"
    %input#sample3check{checked: "checked", type: "checkbox"}/
  - else
    %input#sample3check{type: "checkbox"}/
  %label{for: "sample3check"}
    %span
