.swiper-container
  / 全スライドをまとめるラッパー
  .swiper-wrapper
    / 各スライド
    .swiper-slide.slide1
      .box
        = image_tag 'top-page-slider-image1'
    .swiper-slide.slide2
      .box
        = image_tag 'top-page-slider-image2'
  / ページネーションを表示する場合
  .swiper-pagination.swiper-pagination-white
  / 前後スライドへのナビゲーションボタン(矢印)を表示する場合
  .swiper-button-prev
  .swiper-button-next
